{% extends "layout.html" %}

{% block title %}
    Welcome to our Poker Website!
{% endblock %}

{% block main %}
<div class="col-md-14">
    <p class = "lead"><strong>Our names are Rohan and Vincent, and welcome to our Poker Solver Website! This website will teach you how to play poker and what to do on a given hand. Enjoy!</strong>
    <p><strong> How does our solver work? </strong></p>
    <p>Building off of a rudimentary equity calculator (your percentage chance of winning) our platform tells you whether you should call, fold or raise, and by how much. We also take into account variables such as opponent type and pre-flop action, along side randomizers to make marginal decisions.</p>
    <p><strong>Is there one best way to play poker?</strong> </p>
    <p>No, but there are good ways to play poker! Our website uses Game Theory Optimal, a mathematical approach to poker, as a foundation. We then add our own expertise to make reccommendations on any given hand.</p>
 </div>
{% endblock %}