{% extends "layout.html" %}

{% block title %}
    Tips and Tricks
{% endblock %}

{% block main %}
<div class="col-md-14">

    <p class = "lead"><i>Mastering poker is difficult — we are certainly far from it. But here are a variety of tips and tricks that both Vincent and Rohan employ regularly in their games. </i>
 
    <p><strong> Tip 1 — Find Your Style </strong>

    <p>There are a variety of styles of poker — tight, loose, aggressive, passive are a few that come to mind. Experiment with each style, and decide which one fits your personality best. Do you enjoy getting into a lot of pots? Or would you rather play more disciplined and controlled. While Rohan tends to play tighter and more aggressive, Vincent enjoys playing looser and getting involved in more pots.</p>

    <p><strong> Tip 2 — Play with Discipline </strong>

    <p>Think carefully about every single play you make, and in marginal situations, trust your gut. Stick to your strategy of choice and avoid impulsive decisions. Importantly, avoid chasing losses. If you're having a losing session, take a break and revisit the game a few days later!</p>

    <p><strong> Tip 3 — Study </strong>

    <p>This one is simple. Study, Study, Study! Watch videos, hand analyses, and read books about poker. There are millions of resources out there in the world. Here are some of our favourites!</p>

    <p><a href="https://www.youtube.com/@DougPolkPoker">Doug Polk's YouTube Channel (Commentary, Entertainment, and Analysis)</a></p>

    <p><a href="https://www.youtube.com/@HustlerCasinoLive">One of the Largest Poker Livestreams. Big Stakes!</a></p>

    <p><a href="https://www.pokernews.com/news/2017/09/nolan-dalla-10-most-important-poker-strategy-books-18297.htm">10 Great Poker Theory Books</a></p>

    <p><strong> Tip 4 — Exploit and Read Your Opponents </strong>

    <p>Like yourself, your opponents will also have a style of play. Perhaps it's obvious that they play little to no hands, and wait until they receive amazing hole cards. In that case, make exploitative folds against them! Also study your opponents — pick up on any live reads or tells.</p>

    <p><strong> Tip 5 — Control Your Emotions </strong>

    <p>Emotions are a poker player's number one enemy. Control your emotions, or you will make impulsive decisions or become tilted when things don't go your way.</p>

    <p><strong> Tip 6 — Select Your Games Carefully </strong>

    <p>If you're playing poker professionally or for cash, don't sit down with Phil Ivey (one of the best to play the game). Select your games carefully, play with those less experienced than you. No one will blame you for this — the best of the best game pick!</p>



 </div>
{% endblock %}